:root {
  --primary-color: #0062b7;
  --link-color: #00d1b2;
  --text-color: #414664;
  --light-text-color: #fafafb;
  --background-color: #fafafb;
  --flag-color: #A87CA0;
  --warning-color: #FFA631;
  --danger-color: #d9534f;
  --neutral-color: #4D8FAC;
  --success-color: #0f8796;
}


/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(./fonts/WorkSans/WorkSansLightLatinExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(./fonts/WorkSans/WorkSansLightLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(./fonts/WorkSans/WorkSansRegularLatinExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(./fonts/WorkSans/WorkSansRegularLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(./fonts/WorkSans/WorkSansSemiBoldLatinExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(./fonts/WorkSans/WorkSansSemiBoldLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(./fonts/WorkSans/WorkSansBoldLatinExt.woff) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(./fonts/WorkSans/WorkSansBoldLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
  box-sizing: border-box;
  font-family: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  line-height: 1.5;
}
body {
  color: var(--text-color);
  font-size: .8rem;
  font-family: 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
legend {
  color: #444;
  line-height: 1;
  font-weight: 300;
}

h1 { font-size: 2.2rem }
h2 { font-size: 1.8rem }
h3 { font-size: 1.4rem }
h4 { font-size: 1.1rem }

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

a:hover {
  color: #363636;
}

header {
  border-bottom: 1px solid #eee;
  padding: 0 20px 20px 20px;
}
header section.menu {
  display: grid;
  grid-template-columns: 2fr auto;
}
header h1, nav {
  line-height: 1rem;
  vertical-align: middle;
}
header h1 small {
  font-size: 0.7rem;
  font-weight: 300;
  color: #666;
}
nav {
  display: flex;
  align-items: center;
}
.logged-in {
  text-decoration: underline;
  font-variant: small-caps;
}
main {
  padding: 1rem;
}

.flag,
button,
a.button,
input[type=submit] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 1.6rem;
  padding: .1rem .8rem;
  color: var(--primary-color);
  font-size: .6rem;
  font-weight: 500;
  line-height: 2;
  outline: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  white-space: nowrap;
  border: .05rem solid var(--primary-color);
  border-radius: 0.1rem;
  transition: all .2s ease;
  cursor: pointer;
}
input[type=submit],
input[type=submit] + a.button,
a.button + a.button {
  margin-top: 5px;
}

input[type=submit]:hover,
.button:hover {
  color: var(--light-text-color);
  background-color: var(--primary-color);
}


button.primary,
a.button.primary,
input[type=submit].primary {
  color: var(--background-color);
  background: var(--primary-color);
}

button.primary:hover,
a.button.primary:hover,
input[type=submit].primary:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

button.danger,
a.button.danger,
input[type=submit].danger {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

button.danger:hover,
a.button.danger:hover,
input[type=submit].danger:hover {
  background-color: var(--danger-color);
  color: var(--light-text-color);
}
.flag {
  border-color: var(--flag-color);
  color: var(--light-text-color);
  background-color: var(--flag-color);
  cursor: help;
}
.flag.warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  font-weight: 600;
}


/* Forms */

fieldset {
  padding: 0;
  border: 0;
}
legend {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea {
  position: relative;
  height: 2rem;
  padding: .4rem .8rem;
  color: var(--text-color);
  font-size: .8rem;
  line-height: 1rem;
  background-color: var(--background-color);
  border: .05rem solid #bbc;
  box-sizing: border-box;
}

textarea {
  min-height: 13.2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 4rem;
  height: 2rem;
  padding: .25rem .4rem;
  padding-right: 1.2rem;
  color: inherit;
  font-size: .8rem;
  line-height: 1.2rem;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;
  border: .05rem solid #caced7;
  border-radius: .1rem;
  outline: 0;
  vertical-align: middle;
}

[type="file"] {
  display: flex;
}

input[type=checkbox] {
  height: 1rem;
  padding: 0;
  vertical-align: bottom;
}

input:focus,
select:focus {
  box-shadow: 0 0 .1rem var(--primary-color);
}
input[readonly] {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #aaa;
}
tr {
  height: 30px;
}
td,
th {
  padding: 0 5px;
  line-height: 1rem;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
td + td {
  border-left: 1px solid white;
}
th + td,
th + th,
td + th {
  border-left: 1px solid #aaa;
}
th {
  color: #363636;
}
th.person {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th.product {
  width: 15rem;
  text-align: left;
}
th.price {
  width: 5rem;
  text-align: center;
}
th.amount {
  width: 5rem;
}
.ref {
  width: 5rem;
  text-align: left;
}
td.ref {
  font-weight: 300;
  font-style: normal;
}
td.total,
th.total {
  background-color: #bbb;
}
tr:nth-child(even) {
  background-color: #ddd;
}
thead tr {
  background-color: var(--neutral-color);
}
thead tr * {
  color: var(--light-text-color);
}
thead th + th {
  border-left: 1px solid white;
}
article.order {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
table.order th.product {
  min-width: 10rem;
  width: inherit;
}
td.with-input {
  padding: 0;
}
td.with-input input {
  width: 100%;
  text-align: center;
}
article.delivery {
  width: 100%;
  overflow-x: auto;
}
article.delivery th.person {
  max-width: 7rem;
}
td.missing,
th.missing {
  background-color: var(--warning-color);
}
.missing a {
  color: var(--light-text-color);
  border-color: var(--light-text-color);
  height: 1rem;
}
hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}
.carrelage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
  grid-gap: 10px;
}
.carrelage li {
    list-style: none;
    border: 1px solid #eee;
    text-align: center;
    padding: 5px;
}
.carrelage li input {
    /*max-width: 80%;*/
}
.carrelage li img {
    width: 50%;
}
.notification {
  width: 100%;
  text-align: center;
  color: white;
  line-height: 3rem;
  height: 3rem;
  vertical-align: middle;
}
.notification.success {
  background-color: var(--success-color);
}
.notification.error {
  background-color: var(--danger-color);
}
.notification.warning {
  background-color: var(--warning-color);
}
.notification i {
  font-size: 2rem;
}
.not-paid {
  background-color: var(--warning-color);
}
.toggle {
  display: none;
}
.toggle-label {
  cursor: pointer;
  color: var(--link-color);
}
.toggle-container {
  display: none;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  height: 400px;
  width: 400px;
  border: 1px solid #999;
  background: white;
  padding: 5px;
  z-index: 100;
  overflow-y: auto;
  white-space: normal;
}
.toggle-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: black;
  opacity: 0.4;
  cursor: pointer;
  display: none;
}
.toggle-container img {
  max-width: 100%;
}
.toggle:checked ~ .toggle-background,
.toggle:checked ~ .toggle-container {
  display: block;
}
ul.delivery {
  padding: 10px;
}
ul.delivery > li {
  list-style: none;
  padding: 20px 0;
  margin: 0;
}
ul.delivery-head {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
  grid-gap: 10px;
}
ul.delivery-head li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.delivery-head li i{
  float: left;
  font-size: 1.5rem;
  vertical-align: bottom;
  padding-right: 5px;
}
ul.toolbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px , 1fr));
  grid-gap: 10px;
}
ul.toolbox li {
  list-style: none;
  padding: 0;
  margin: 0;
}
dt {
  font-weight: 600;
}
dt.mandatory:after {
  content: "*";
  font-size: .7rem;
  vertical-align: top;
}
details summary {
  cursor: pointer;
}
