{% if deliveries %}
<ul class="delivery">
{% for delivery in deliveries %}
<li>
    <h3><a href="/livraison/{{ delivery.id }}"><i class="icon-hotairballoon"></i> {{ delivery.producer }}</a> {% if delivery.is_open %}<a class="button" href="/livraison/{{ delivery.id }}/commander">{% if request.user.email in delivery.orders %}Gérer ma commande{% else %}Commander{% endif %}</a>{% endif %}</h3>
    {% include "includes/delivery_head.html" %}
</li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Aucune livraison.</p>
{% endif %}
