{% if deliveries %}
<ul class="delivery">
{% for delivery in deliveries %}
<li>
    <h3><a href="/livraison/{{ delivery.id }}"><i class="icon-hotairballoon"></i> {{ delivery.producer }}</a> {% include "includes/order_button.html" %}</h3>
    {% include "includes/delivery_head.html" %}
</li>
<hr>
{% endfor %}
</ul>
{% else %}
<p>Aucune livraison.</p>
{% endif %}
