{% extends "includes/modal.html" %}

{% block modal_label %}<i class="icon-upload"></i> Importer les produits{% endblock modal_label %}
{% block modal_body %}
<h3>Importer des produits</h3>
<p>Formats pris en charge: xlsx, csv</p>
<details>
    <summary>Détails des colonnes</summary>
    <dl>
        <dt class="mandatory">ref</dt>
        <dd>Référence unique du produit (permet de mettre à jour les produits en cours de commande ou d'importer des commandes individuelles).</dd>
        <dt class="mandatory">name</dt>
        <dd>Nom du produit: mettre juste assez d'info pour distinguer les produits les uns des autres.</dd>
        <dt class="mandatory">price</dt>
        <dd>Prix d'une unité, en euros.</dd>
        <dt>unit</dt>
        <dd>Conditionnement d'une unité: 1kg, 33cl…</dd>
        <dt>description</dt>
        <dd>Plus de détails sur le produit.</dd>
        <dt>packing</dt>
        <dd>Contionnement final pour grouper les commandes, le cas échéant, en nombre d'unités.</dd>
        <dt>url</dt>
        <dd>Une URL éventuelle pointant sur une page présentant le produit.</dd>
        <dt>img</dt>
        <dd>Une URL éventuelle pointant sur une image du produit (attention, utiliser seulement des liens https).</dd>
    </dl>
</details>
<form action="/livraison/{{ delivery.id }}/importer/produits" method="post" enctype="multipart/form-data">
    <input type="file" name="data" required>
    <input type="submit" value="Mettre à jour les produits">
</form>
{% endblock modal_body %}
