{% if delivery.status == delivery.OPEN or delivery.status == delivery.ADJUSTMENT %}
    <a class="button" href="/livraison/{{ delivery.id }}/commander">
    {% if delivery.status == delivery.ADJUSTMENT %}
        Ajuster ma commande
    {% elif delivery.status == delivery.OPEN %}
        {% if request.user.email in delivery.orders %}Gérer ma commande{% else %}Commander{% endif %}
    {% endif %}
    </a>
{% endif %}
{% if request.user.email in delivery.orders %}
    <span class="flag" title="Mon solde"><i class="icon-wallet"></i>&nbsp;{{ delivery.total_for(request.user) }} €</span>
    {% if delivery.status == delivery.CLOSED and delivery.is_passed and not delivery.orders[request.user.email].paid %}
        <span class="flag warning" title="Ma commande n'est pas marquée comme soldée"><i class="icon-caution"></i>&nbsp;Commande à solder</span>
    {% endif %}
{% endif %}
