<table class="order">
    <tr><th class="product">Produit</th><th class="price">Prix unitaire</th><th class="amount">Quantité</th></tr>
    {% for product in delivery.products %}
    {% if order.get_quantity(product) %}
    <tr>
        <th class="product" style="text-align: left;">{{ product.label }}</th>
        <td>{{ product.price }} €</td><td>{{ order.get_quantity(product) }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<p>Total: {{ order.total(delivery.products) if order else 0 }} €</p>
