<table class="order">
    <tr><th>Réf.</th><th class="product">Produit</th><th class="price">Prix unitaire</th><th class="amount">Quantité</th></tr>
    {% for product in delivery.products %}
    {% if order[product].quantity %}
    <tr>
        <td>{{ product.ref }}</td>
        <th class="product" style="text-align: left;">{{ product }}</th>
        <td>{{ product.price | round(2) }} €</td>
        <td>{{ order[product].quantity }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<p>Total: {{ order.total(delivery.products) if order else 0 }} €</p>
