<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }} - {% endif %}Commandes Epinamap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <link rel="stylesheet" type="text/css" href="/static/icomoon.css">
    {% block head %}
    {% endblock head %}

</head>
<body>
    <header>
    {% if message %}
        <section class="notification {{ message[1] }}"><i class="icon-megaphone"></i> {{ message[0] }}</section>
    {% endif %}
    <section class="menu">
        <h1><a href="/">Copanier</a> <small>Les paniers piano d'Épinamap</small></h1>
        <nav>
            {% if request.user %}
                {% if request.user.is_staff %}
                <a class="button" href="/livraison"><i class="icon-hotairballoon"></i>&nbsp;Nouvelle livraison</a>&nbsp;
                {% endif %}
                <i class="icon-lock"></i>&nbsp;<span>{{ request["user"].email }}</span>
            {% endif %}
        </nav>
    </section>
    </header>
    <main>
    {% block body %}
    {% endblock body %}
    </main>
</body>
</html>
