{% extends "base.html" %}

{% block body %}
{% if delivery.id %}
    <h1>Modifier la livraison</h1>
{% else %}
    <h1>Nouvelle livraison</h1>
{% endif %}
<form method="post">
    <label>
        <p>Producteur</p>
        <input type="text" name="producer" value="{{ delivery.producer or '' }}" required>
    </label>
    <label>
        <p>Description des produits</p>
        <input type="text" name="description" value="{{ delivery.description or '' }}">
    </label>
    <label>
        <p>Référent</p>
        <input type="email" name="contact" value="{{ delivery.contact or request.user.email }}" required>
    </label>
    <label>
        <p>Lieu</p>
        <input type="text" name="where" value="{{ delivery.where or '' }}" required>
    </label>
    <label>
        <p>Date de livraison</p>
        <input type="date" name="date" value="{{ delivery.from_date.date() if delivery.from_date else '' }}" required> de <input type="time" name="from_time" value="{{ delivery.from_date.time() if delivery.from_date else '' }}" required> à <input type="time" name="to_time" value="{{ delivery.to_date.time() if delivery.to_date else '' }}" required>
    </label>
    <label>
        <p>Date de limite de commande</p>
        <input type="date" name="order_before" value="{{ delivery.order_before.date() if delivery.order_before else '' }}" required>
    </label>
    <label>
        <p>Instructions particulières</p>
        <input type="text" name="instructions" value="{{ delivery.instructions or '' }}">
    </label>
    <label>
        <p>URL externe d'information</p>
        <input type="url" name="infos_url" value="{{ delivery.infos_url or '' }}">
    </label>
    <div>
        <input type="submit" name="submit" value="Valider" class="primary">
    </div>
</form>
<hr>
{% if delivery %}
<ul class="toolbox">
    {% if delivery.status == delivery.CLOSED %}
    <li>
        <a href="/livraison/{{ delivery.id }}/archiver" class="button danger"><i class="icon-layers"></i>&nbsp;Archiver</a>
    </li>
    {% endif %}
    <li>
        {% with unique_id="import-products" %}
            {% include "includes/modal_import_products.html" %}
        {% endwith %}
    </li>
</ul>
{% endif %}
{% endblock body %}
