{% extends "base.html" %}

{% block body %}
{% if delivery.id %}
    <h1>Modifier la livraison</h1>
{% else %}
    <h1>Nouvelle livraison</h1>
{% endif %}
<form method="post">
    <label>
        <h5>Producteur</h5>
        <input type="text" name="producer" value="{{ delivery.producer or '' }}" required>
    </label>
    <label>
        <h5>Description des produits</h5>
        <input type="text" name="description" value="{{ delivery.description or '' }}" required>
    </label>
    <label>
        <h5>Lieu</h5>
        <input type="text" name="where" value="{{ delivery.where or '' }}" required>
    </label>
    <label>
        <h5>Date de livraison</h5>
        <input type="date" name="date" value="{{ delivery.from_date.date() if delivery.from_date else '' }}" required> de <input type="time" name="from_time" value="{{ delivery.from_date.time() if delivery.from_date else '' }}" required> à <input type="time" name="to_time" value="{{ delivery.to_date.time() if delivery.to_date else '' }}" required>
    </label>
    <label>
        <h5>Date de limite de commande</h5>
        <input type="date" name="order_before" value="{{ delivery.order_before.date() if delivery.order_before else '' }}" required>
    </label>
    <label>
        <h5>Instructions particulières</h5>
        <input type="text" name="instructions" value="{{ delivery.instructions or '' }}">
    </label>
    <div>
        <input type="submit" name="submit" value="Valider">
    </div>
</form>
<hr>
{% if delivery %}
<h3>Importer des produits</h3>
<p>Formats pris en charge: xlsx, csv</p>
<p>Colonnes: ref*, name*, price*, description, url, img</p>
<form action="/livraison/{{ delivery.id }}/importer/produits" method="post" enctype="multipart/form-data">
    <input type="file" name="data" required>
    <input type="submit" name="Importer des produits">
</form>
{% endif %}
{% endblock body %}
