{% extends "base.html" %}
{% block body %}
    <h2>Livraisons à venir</h2>
    {% with deliveries=incoming %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    <h2>Livraisons passées</h2>
    {% with deliveries=former %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
{% endblock body %}
