{% extends "base.html" %}
{% block body %}
    {% with deliveries=incoming %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    <h2>Commandes à solder</h2>
    {% with deliveries=former %}
        {% include "includes/delivery_list.html" %}
    {% endwith %}
    <a href="/archives"><i class="icon-layers"></i> Voir les livraisons archivées</a>
{% endblock body %}
