{% extends "base.html" %}

{% block body %}
<article class="order">
<h3><a href="/livraison/{{ delivery.id }}">{{ delivery.producer }}</a> — Commande de «{{ person.email }}»</h3>
{% include "includes/delivery_head.html" %}
<form method="post">
    <table class="order">
        <tr><th class="product">Produit</th><th class="price">Prix</th><th class="amount">Quantité</th></tr>
        {% for product in delivery.products %}
        <tr>
            <th class="product">{{ product.label }}
                {% if product.description or product.img %}
                    {% with unique_id=loop.index %}
                        {% include "includes/modal_product.html" %}
                    {% endwith %}
                {% endif %}</p>
            </th>
            <td>{{ product.price }} €</td><td class="with-input"><input type="number" name="{{ product.ref }}" value="{{ order.get_quantity(product) }}"></td></tr>
        {% endfor %}
    </table>
    <p>Total: {{ order.total(delivery.products) if order else 0 }} €</p>
    {% if delivery.is_passed %}
    <p>Commande soldée: <input type="checkbox" name="paid" {% if order.paid %}checked{% endif %}></p>
    {% endif %}
    <input type="hidden" name="email" value="{{ person.email }}">
    <input type="submit" value="Enregistrer la commande">
    <a class="button" href="/livraison/{{ delivery.id }}/courriel?email={{ person.email }}">Envoyer par courriel</a>
</form>
</article>
{% endblock body %}
