<p>Hey ho!</p>

<p>Voici le sésame, clique dessus pour t'authentifier, ou copie-colle-le dans ton navigateur:</p>

<a href="https://{{ hostname }}/sésame/{{ token }}">https://{{ hostname }}/sésame/{{ token }}</a>

<p>{{ config.EMAIL_SIGNATURE }}</p>
